@model Bookish2.Web.Models.BookModel

@using (Html.BeginForm("Form", "Catalog", FormMethod.Post))
{
    <span>Title:</span> @Html.TextBoxFor(m => m.Title)<br />
    <span>Author:</span> @Html.TextBoxFor(m => m.Author)<br />
    <span>ISBN:</span> @Html.TextBoxFor(m => m.ISBN)<br />
    <span>Pages:</span> @Html.TextBoxFor(m => m.Pages)<br />

    <input id="Submit" type="submit" value="submit"/>
}