@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PLACEHOLDER</h1>
    <p class="lead">This was some placeholder text that I don't know what to replace with</p>
</div>

<div class="row">

</div>
